.App {
  text-align: center;
  background-color: darkslateblue;
}

.Article {
  color: white;
  text-align: left;
  width: 60%;
  padding: 2vh;
  margin: 2vh;
}

.ArticleList {
  color:white;
  text-align: left;
  padding: 2vh;
}

ul {
  list-style-type: none;
}
